<div class="cricket-container">
    <h1 class="main-heading">Cricket Markets</h1>
    <table class="table table-striped" style="box-shadow: #000 0 2px 6px;">
        <thead>
            <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Event Id / Event Name</th>
                <th scope="col">Market Id</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>34632330 / Tungabhadra Warriors v Vijayawada Sunshiners</td>
                <td>1.246759656</td>
                <td>
                    <button class="events-btn" (click)="openMarketDataModal(1)">Match Odds</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>34632330 / Tungabhadra Warriors v Vijayawada Sunshiners</td>
                <td>1.246759656</td>
                <td>
                    <button class="events-btn" (click)="openMarketDataModal(2)">Match Odds</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>34632330 / Tungabhadra Warriors v Vijayawada Sunshiners</td>
                <td>1.246759656</td>
                <td>
                    <button class="events-btn" (click)="openMarketDataModal(3)">Match Odds</button>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>34632330 / Tungabhadra Warriors v Vijayawada Sunshiners</td>
                <td>1.246759656</td>
                <td>
                    <button class="events-btn" (click)="openMarketDataModal(4)">Match Odds</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Market Data Model -->
<div class="modal fade" id="marketDataModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" style="background: #006e76; color: white;">
      <div class="modal-header border-0" style="border-bottom: 1px solid #144b4f !important;">
        <h5 class="modal-title" style="font-size: 1rem;">Market Data</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body" style="background-color: #fff; color: #000;">
        <p>Hello here the data of Cricket Will be there</p>
      </div>
    </div>
  </div>
</div> 